* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #FFFAE2;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	color: #92977E;
	
}

.logo {

	font-family: "Sofia", sans-serif;
  	font-size: 400%;
	float: left;
	margin-left: 1em;
	

}


.nav {

	font-size: 160%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;

	
	
}

.logo, .nav {

	line-height: 80px;

	
	
}

.nav li {

	float: right;
	list-style-type: none;	
	margin-right: 6em;

	
	
}

.mandela {
	
	width: 400px;
	height: 600px;
	border-radius: 50%;
	margin: 10px 30px 10px 30px;
	padding: 10px 30px 10px 30px;
	border: 10px 30px 10px 30px;
	order: 1;
	opacity: 0.4;
	
}