* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #FFFAE2;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	color: #92977E;
	
}

.logo {

	font-family: "Sofia", sans-serif;
  	font-size: 400%;
	float: left;
	margin-left: 1em;
	

}


.nav {

	font-size: 160%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;

	
	
}
